<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="Collector Common Library package source" value="http://nuget.collector.se/CommonLibrary/nuget" />
    <add key="Collector Integration package source" value="http://collector-integration-nuget.azurewebsites.net/nuget" />
  </packageSources>
</configuration>