<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.36.11" targetFramework="net452" />
  <package id="AutoFixture.AutoRhinoMocks" version="3.36.11" targetFramework="net452" />
  <package id="Collector.Common.Library" version="6.0.2" targetFramework="net452" />
  <package id="Collector.Common.RestContracts" version="4.1.0" targetFramework="net452" />
  <package id="Collector.Common.UnitTest.Helpers" version="3.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net452" />
  <package id="Serilog" version="2.4.0" targetFramework="net452" />
</packages>